body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}

.card {
    background: crimson;
    padding: 25px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 1s;
}

@keyframes shake {
    0% { transform: scale(1.2) translateX(0); }
    25% { transform: scale(1.2) translateX(-5px); }
    50% { transform: scale(1.2) translateX(5px); }
    75% { transform: scale(1.2) translateX(-5px); }
    100% { transform: scale(1.2) translateX(0); }
}

.card.hit {
    background: black;
    animation: shake 0.4s;
}


#truthBox {
    margin-top: 30px;
    font-size: 22px;
    color: #00ffcc;
}

.center-box {
    text-align: center;
}

.center-box h1 {
    font-size: 50px;
}

.center-box p {
    font-size: 40px;
    font-weight: bold;
}

.center-box button {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}